* {
  line-height: 24px;
  color: #000;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}
img {
  position: relative;
}


.flexboxi {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
#flexi1,
#flexi2,
#flexi3 {
  flex: 1;
}#h2shi{
  text-align: center; 
  font-size: 50px;
  margin-top: 100px;
}#paragrafi{
  margin-left: 30px;
}#flexi3, #flexi2{
  margin-bottom: 100px;
}

